<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="#{language-code}">
<head>
    <meta charset="utf-8"/>
    <meta name="application-name" content="Welding Group"/>
    <meta name="alternateName" content="Vaakumpakend"/>
    <meta name="description" content="Website for Welding Group, a company that specializes in packaging solutions."/>
    <meta name="keywords" content="vacuum packaging,packaging,plastic,vacuum,bags,printing,printed,pack,film,packaging machines,
wrapper,slitting,printing,rewinding,material,PPE,nylon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="accessModeSufficient" content="textual"/>
    <meta property="dateModified" content="2018-11-04"/>
    <meta property="isAccessibleForFree" datatype="xsd:boolean" content="true"/>
    <meta property="isFamilyFriendly" datatype="xsd:boolean" content="true"/>
</head>
<body>
<div th:fragment="header">
    <!-- <div class="logo_back" onclick="location.href='https://github.com/fredhansen/mlem';" style="cursor: pointer;">
         <img th:src="@{/img/WeldGroup.jpg}" class="logo" th:alt="#{page_title}"/>
     </div> -->
    <header>
        <div class="header">
            <a href="/"><img id="logo" th:src="@{/img/Welding_logo1.png}" alt="logo"></a>

            <div class="header-right">
                <a href="/" class="current" th:text="#{home_page}" id="homePage"></a>
                <a href="/products" th:text="#{products_page}" id="productsPage"></a>
                <a href="/contact" th:text="#{contact_page}"></a>
                <a href="/cart"><i class="fa fa-shopping-cart fa-lg" id="header-cart" data-count="0"
                                   th:title="#{cart_page}"></i></a>
                <a href="/logout" th:if="${user}" th:text="#{logout}" id="logout"></a>
                <a href="/login" th:unless="${user}" id="loginPageGoogle"><img class="icon"
                                                                               th:src="@{/img/gplus-32.png}"
                                                                               title="Google+ login" alt="Google+"></a>
                <a id="est" href="/?lang=et"><img id="lang" th:src="@{/img/estonia.svg}" alt="Eesti keel"></a>
                <a id="eng" href="/?lang=en"><img id="lang" th:src="@{/img/united-kingdom.svg}" alt="English"></a>


                <!--<li><a href="/services" th:text="#{services_page}"></a></li>
                <li><a href="/shop" th:text="#{shop_page}">Shop</a></li>-->

                <!-- todo fix smartID login
                            <li><a href="/smart-Id/login" th:text="#{smartId}"></a></li>
                -->
                <!-- <li><a href="/logout" th:text="#{logout}"></a></li> -->

                <!--<form action="" method="get">
                    <input name="s" th:placeholder="#{search_form}" type="search">
                    <button type="submit" th:text="#{search_button}"></button>
                </form>
                -->
            </div>

        </div>
    </header>

    <!-- <div th:replace="fragments/login :: login"></div>-->
</div>
</body>
</html>

