<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="#{language-code}">
<head>
    <meta charset="utf-8"/>
    <meta name="application-name" content="Welding Group"/>
    <meta name="alternateName" content="Vaakumpakend"/>
    <meta name="description" content="Website for Welding Group, a company that specializes in packaging solutions."/>
    <meta name="keywords" content="vacuum packaging,packaging,plastic,vacuum,bags,printing,printed,pack,film,packaging machines,
wrapper,slitting,printing,rewinding,material,PPE,nylon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="accessModeSufficient" content="textual"/>
    <meta property="dateModified" content="2018-11-04"/>
    <meta property="isAccessibleForFree" datatype="xsd:boolean" content="true"/>
    <meta property="isFamilyFriendly" datatype="xsd:boolean" content="true"/>
</head>
<body>
<div th:fragment="nologohead">
    <nav id="header" class="nologo">
        <ul class="list_items">
            <li><a href="/" th:text="#{home_page}"></a></li>
            <li><a href="/products" th:text="#{products_page}"></a></li>
            <!--<li><a href="/services" th:text="#{services_page}"></a></li>
            <li><a href="/shop" th:text="#{shop_page}">Shop</a></li>-->
            <li><a href="/contact" th:text="#{contact_page}"></a></li>
            <li><a href="/cart" th:text="#{cart_page}"></a></li>
            <li><a href="/login" class="googleplus"> Google+</a></li>
            <li><a href="/smart-Id/login" th:text="#{smartId}"></a></li>
            <li><a href="/logout" th:if="${user}" th:text="#{logout}"></a></li>
            <!--<form action="" method="get">
                <input name="s" th:placeholder="#{search_form}" type="search">
                <button type="submit" th:text="#{search_button}"></button>
            </form>
            -->
            <li><a class="languages" id="est" href="/?lang=et" th:text="#{lang.et}"></a></li>
            <li><a class="languages" id="eng" href="/?lang=en" th:text="#{lang.en}"></a></li>
        </ul>
    </nav>
    <!-- <div th:replace="fragments/login :: login"></div>-->
</div>
</body>
</html>

