<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml">
<LINK href="/css/products.css" rel="stylesheet" type="text/css">

<body>
    <div id="pack_materials" th:fragment="pack_material">
        <div class="pack_material">
            <p><img th:src="@{/img/pack_material/pack_plain.png}" width="50%" height="50%" alt="" /></p>
            <p class="caption" th:text="#{vac_plain}"></p>
        </div>
        <div class="pack_material">
            <p><img th:src="@{/img/pack_material/pack_text.png}" width="50%" height="50%" alt="" /></p>
            <p class="caption" th:text="#{vac_printed}"></p>
        </div>
        <div class="pack_material">
            <p><img th:src="@{/img/pack_material/pack_oop.png}" width="50%" height="50%" alt="" /></p>
            <p class="caption" th:text="#{pack_oop}"></p>
        </div>
        <div class="pack_material">
            <p><img th:src="@{/img/pack_material/pack_pe.png}" width="50%" height="50%" alt="" /></p>
            <p class="caption" th:text="#{pack_pe}"></p>
        </div>
        <div class="pack_material">
            <p><img th:src="@{/img/pack_material/pack_laminated.png}" width="50%" height="50%" alt="" /></p>
            <p class="caption" th:text="#{pack_laminated}"></p>
        </div>
        <div class="pack_material">
            <p><img th:src="@{/img/pack_material/pack_parchment.png}" width="50%" height="50%" alt="" /></p>
            <p class="caption" th:text="#{pack_parch}"></p>
        </div>
        <div class="pack_material">
            <p><img th:src="@{/img/pack_material/pack_candy.png}" width="50%" height="50%" alt="" /></p>
            <p class="caption" th:text="#{pack_candy}"></p>
        </div>
        <div class="pack_material">
            <p><img th:src="@{/img/pack_material/pack_vacuum.png}" width="50%" height="50%" alt="" /></p>
            <p class="caption" th:text="#{pack_vacuum}"></p>
        </div>
        <div class="pack_material">
            <p><img th:src="@{/img/pack_material/pack_film.png}" width="50%" height="50%" alt="" /></p>
            <p class="caption" th:text="#{pack_film}"></p>
        </div>
        <div class="pack_material">
            <p><img th:src="@{/img/pack_material/pack_metall.png}" width="50%" height="50%" alt="" /></p>
            <p class="caption" th:text="#{pack_metall}"></p>
        </div>
    </div>

</body>
</html>