<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<LINK href="/css/products.css" rel="stylesheet" type="text/css">
<!--Seda vist juba pole vaja ******************************************************************* -->

<body>
<div id="plastic_bags" th:fragment="plastic_bag">
    <div class="plastic_bag">
        <p><img th:src="@{/img/plastic_bag/plastic_plain.png}" width="50%" height="50%" alt="" /></p>
        <p class="caption" th:text="#{plastic_plain}"></p>
    </div>
    <div class="plastic_bag">
        <p><img th:src="@{/img/plastic_bag/plastic_text.png}" width="50%" height="50%" alt="" /></p>
        <p class="caption" th:text="#{plastic_printed}"></p>
    </div>
</div>
</body>
</html>