<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="sidebar">
    <!-- Side navigation -->
    <div class="sidenav">
        <a href="/products/add" th:if="${user}" th:text="#{add.product}"></a>
        <div th:each="category : ${categories}">
            <a th:href="'/products/' + ${category.getId()}" th:text="${category.getName()}"></a>
        </div>
        <!--<li><a href="/products/vac" th:text="#{vacuum_pouch}" ></a></li>
        <li><a href="/products/bags" th:text="#{plastic_bag}"></a></li>
        <li><a href="/products/plastic" th:text="#{packag_materials}"></a></li> -->


    </div>

</div>
</body>
</html>