#breadcrumbs-center {
    margin-left: 9vw;
    margin-right: auto;
}

#breadcrumbs {
    padding: 0;
    list-style: none;
    overflow: hidden;
    width: 100%;
    margin: 2vw 0 1.5vw;
}

#breadcrumbs li {
    float: left;
    margin: 0 1vw 0 1.25vw;
}

#breadcrumbs a {
    background: #cacaca;
    padding: 1vw 3.5vw;
    float: left;
    text-decoration: none;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    position: relative;
}

#breadcrumbs a:hover {
    background: #a18fa7;
}

#breadcrumbs a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -2vw;
    border-width: 2vw 0 2vw 1.25vw;
    border-style: solid;
    border-color: #cacaca #cacaca #cacaca transparent;
    left: -1.25vw;
}

#breadcrumbs a:hover::before {
    border-color: #a18fa7 #a18fa7 #a18fa7 transparent;
}

#breadcrumbs a::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -2vw;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-left: 1.25vw solid #cacaca;
    right: -1.25vw;
}

#breadcrumbs a:hover::after {
    border-left-color: #a18fa7;
}

#breadcrumbs .current,
#breadcrumbs .current:hover {
    font-weight: bold;
    background: none;
}

#breadcrumbs .current::after,
#breadcrumbs .current::before {
    content: normal;
}
