body {
    margin: 0;
}

#mapid {
    width: 45vw;
    height: 30vw;
    position: absolute;
    top: 7vw;
    margin: .5vw 2vw 2vw;
    right: 0;
}

* {
    box-sizing: border-box;
}

.row {
    margin-top: 7vw;
    margin-left: 5vw;
}

.column {
    float: left;
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}