#mapid {
    width: 45vw;
    height: 30vw;
    position: absolute;
    top: 12vw;
    margin: 0.5vw 0.65vw 2vw 2vw;
    right: 0;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that float next to each other */
.column {
    float: left;
    width: 30%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
