* {
    text-decoration: none;
}

.faq section {
    margin: 3.125vw auto;
}

.faq_each {
    padding-bottom: 0.78vw;
}

.box {
    background: white;
    padding-top: 1.17vw;
    padding-bottom: 1.17vw;
    padding-left: 1.17vw;
    font-size: 1vw;
    text-transform: none;
    cursor: pointer;
    border: 0.07vw solid #d9d9d9;
}

.answer {
    display: none;
    background: #ffffff;
    border-bottom: 0.07vw solid #d9d9d9;
    border-left: 0.07vw solid #d9d9d9;
    border-right: 0.07vw solid #d9d9d9;
    color: #000000;
    padding: 1.5vw 1.5vw 1.5vw 2.3vw;
}

#other {
    display: none;
}

#other2 {
    display: none;
}

#faq {
    margin: 3vw 3vw 7vw 2vw;
}

