li a {
    display: block;
    float: left;
    padding: 0.6% 0.6%;


}

.list_items {
    text-align: center;
    margin-top: 0.1vw;
    bottom: 0;
    font-family: "Segoe UI", sans-serif;
    color: white;
    list-style-type: none;

}

#header_footer {
    clear: both;
    position: fixed;
    height: 5vw;
    margin-top: -5vw;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1vw;
    background-color: #efefef;
    text-align: center;
    background-color: rgba(6, 76, 139, 0.74);
}