
li a {
    display: block;
    float: left;
    padding: 0.6% 0.6%;

}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.list_items {
    text-align: center;
    margin-top: 0.1vw;
    bottom: 0;
    font-family: "Segoe UI", sans-serif;
    color: white;
    list-style-type: none;

}

#footer {
    clear: both;
    height: 5vw;
    width: 100%;
    position: fixed;
    /*bottom: -webkit-calc(-100% + 5vw);
    bottom: calc(-100% + 5vw);*/
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #efefef;
    background-color: rgba(6, 76, 139, 0.74);
}

#footer a:hover, a:active {
    text-decoration: underline;
}