body {
    margin: 0;
}

a {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

li a {
    float: left;
    margin-left: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
}

#header_footer.a:hover, #header_footer.a:active {
    background-color: #656469;
}

.active {
    background-color: #022441;
}

.logo_back {
    background-color: #022441;
    width: 100%;
    padding: 1vw;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.languages {
    float: right;
    border-right: none;
}

.estonian {
    height: 100%;
    margin-right: 0.5vw;
    width: 3vw;
}

.english {
    height: 100%;
    width: 3vw;
}

.googleplus {
    background-color: #bf4735;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding-right: 0.6%;
    overflow: hidden;
    background-color: rgba(6, 76, 139, 0.74);
}

#header a {
    padding: 0.8% 0.8%;
}

#header a:hover {
    background-color: #022441;
}

#header * {
    font-family: "Segoe UI", sans-serif;
    color: white;
}

