.active {
    background-color: #022441;
}

.logo_back {
    background-color: #022441;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.languages {
    text-align: center;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0.6% 0.6%;
    overflow: hidden;
    background-color: rgba(68, 111, 112, 0.74);
}

#header a {
    padding: 0.8% 0.8%;
}

#header a:hover {
    background-color: #022441;
}

#header * {
    font-family: "Segoe UI", sans-serif;
    color: white;
}