body {
    padding-bottom: 7vw;
    margin: 0;
}

a {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

li a {
    float: left;
    margin-left: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
}

#header {
    box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.2), 0 0.7vw 1.5vw 0 rgba(0, 0, 0, 0.19);
}

#header a:hover, a:active {
    background-color: #656469;
}

.active {
    background-color: #022441;
}

.logo_back {
    background-color: #022441;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header a:hover, a:active {
    background-color: #022441;
}

.languages {
    float: right;
    border-right: none;
}

.estonian {
    height: 100%;
    margin-right: 0.5vw;
    width: 3vw;
}

.english {
    height: 100%;
    width: 3vw;
}

.googleplus {
    background-color: #bf4735;
}

#header ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: rgba(6, 76, 139, 0.74);
}

#header * {
    font-family: "Segoe UI", sans-serif;
    color: white;
}

