body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#homePageText {
    margin-top: .25vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

* {
    box-sizing: border-box;
}

h3 {
    margin-left: 5vw;
}

.new-products-container {
    margin-right: 5vw;
    margin-left: 5vw;
}

.left {
    float: left;
    margin-right: 2%;
}

.right {
    float: right;
}

.new-product {
    display: inline-flex;
    flex-direction: row;
    width: 49%;
    background: white;
}

.new-product img {
    object-fit: cover;
    border: 1px solid black;
    margin: 0.5vw;
    width: 14vw;
    height: 14vw;
}

.new-product p {
    margin-right: 0.5vw;
    margin-left: 0.25vw;
    margin-top: 5%;
}

/* SLIDESHOW */
.slideshow-container {
    height: fit-content;
    width: fit-content;
    position: relative;
    margin-top: 1.5vw;
    margin-left: auto;
    margin-right: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, .8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dots {
    text-align: center
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease
}

.active, .dot:hover {
    background-color: #717171
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}