.vac_pouc {
    width: 25%;
    height: 10%;
    display: none;
}

.plastic_bag {
    width: 25%;
    height: 10%;
    display: none;
}
.pack_material {
    width: 25%;
    height: 10%;
    display: none;
}


