* {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.right {
    float: right;
}

.btn {
    background: #064c8b;
    border: 1px solid #999;
    border-style: none none solid none;
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 16px 0;
    width: 290px;
    text-align: center;

    float: right;
    margin-right: 2vw;

    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

.btn:hover {
    color: #fff;
    background: #295e8b;
}

.product_detail_container {
    margin-top: 5vw;
    margin-left: 15vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product_detail_images {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    margin: 2vw;
    border: grey solid 1px;
}

.product_detail {
    margin: 0.5vw;
    /*border: grey dashed 1px;*/
}

.product_detail p {
    margin-left: 3vw;
}

.product_detail_images img {
    margin-left: 25vw;
    margin-right: auto;
    width: 30%;
    height: auto;
}

/* QUANTITY BUTTONS */

.qt, .qt-plus, .qt-minus {
    display: block;
    float: left;
}

.qt {
    font-size: 19px;
    line-height: 4.5vw;
    width: 3vw;
    text-align: center;
}

.qt-plus, .qt-minus {
    background: #fcfcfc;
    border: none;
    font-size: 30px;
    font-weight: 300;
    height: 100%;
    padding: 0 0.5vw;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
    padding-bottom: 1vw;
    cursor: pointer;
}

.qt-plus {
    line-height: 5vw;
    margin-right: 0.5vw;
}

.qt-minus {
    line-height: 5vw;
    width: 2vw;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}