
.products_view {
    display: inline-block;
}

.product {
    width: 70%;
    height: 70%;
    display: inline-block;
}

#sidebar {
    width: 15%;
    height: 100%;
    background: #333;
}

#sidebar ul li {
    list-style:none;
    border-bottom: 1px solid rgba(100,100,100,0.3);
    padding: 2%;
    margin-right: 0.5%;
}
#sidebar * {
    font-family: "Segoe UI";
    color: white;
}
#sidebar a {
    padding: 0.8% 0.8%;
}
#sidebar a:hover {
    background-color: green;
}
#products {
    float: right;
    margin-left: 20.5%;
}



