.vac_pouc {
    width: 25%;
    height: 10%;
    display: inline-block
}

.plastic_bag {
    width: 25%;
    height: 10%;
    display: inline-block
}
.pack_material {
    width: 25%;
    height: 10%;
    display: inline-block
}

.products_view {
    display: inline-block;
}



