body {
    background: #eee;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.cart-container {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    margin: 0 auto 7vw;
    width: 76.5vw;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #000;
    text-decoration: none;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

a:hover {
    color: #064c8b;
}


#cart {
    width: 100%;
}

#cart h1 {
    font-weight: 300;
}

#cart p {
    font-weight: 300;
    font-size: 1.2vw;
}

#cart a {
    color: #064c8b;
    text-decoration: none;

    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

#cart a:hover {
    color: #000;
}

.product.removed {
    margin-left: 77vw !important;
    opacity: 0;
}

.product {
    border: 1px solid #eee;
    margin: 1.5vw 0;
    width: 100%;
    height: 15vw;
    position: relative;

    -webkit-transition: margin .2s linear, opacity .2s linear;
    -moz-transition: margin .2s linear, opacity .2s linear;
    -ms-transition: margin .2s linear, opacity .2s linear;
    -o-transition: margin .2s linear, opacity .2s linear;
    transition: margin .2s linear, opacity .2s linear;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product header, .product .cart-item {
    background-color: #fff;
    border: 1px none #ccc;
    border-bottom-style: solid;
    float: left;
}

.product header {
    background: #000;
    margin: 0 1% 1.5vw 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 24%;
    height: 15vw;
}

.product header:hover img {
    opacity: .7;
}

.product header:hover h3 {
    bottom: 5.7vw;
}

.product header h3 {
    background: #064c8b;
    color: #fff;
    font-size: 1.53vw;
    font-weight: 300;
    line-height: 3.8vw;
    margin: 0;
    padding: 0 2.3vw;
    position: absolute;
    bottom: -3.9vw;
    right: 0;
    left: 0;

    -webkit-transition: bottom .2s linear;
    -moz-transition: bottom .2s linear;
    -ms-transition: bottom .2s linear;
    -o-transition: bottom .2s linear;
    transition: bottom .2s linear;
}

.remove {
    cursor: pointer;
}

.product .cart-item {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 11vw;
    padding: 0 1.5vw;
    width: 75%;
}

.product h1 {
    color: #064c8b;
    font-size: 1.74vw;
    font-weight: 300;
    margin: 1.3vw 0 1.5vw 0;
}

.product footer.cart-item {
    height: 3.9vw;
    margin: 0.5vw 0 0 0;
    padding: 0;
}

.product footer .unit-price {
    background: #fcfcfc;
    color: #000;
    float: right;
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 3.8vw;
    margin: 0;
    padding: 0 2.3vw;
}

.product footer .full-price {
    background: #064c8b;
    color: #fff;
    float: right;
    font-size: 1.53vw;
    font-weight: 300;
    line-height: 3.85vw;
    margin: 0;
    padding: 0 2.3vw;

    -webkit-transition: margin .15s linear;
    -moz-transition: margin .15s linear;
    -ms-transition: margin .15s linear;
    -o-transition: margin .15s linear;
    transition: margin .15s linear;
}

.qt, .qt-plus, .qt-minus {
    display: block;
    float: left;
}

.qt {
    font-size: 1.32vw;
    line-height: 3.9vw;
    width: 5.5vw;
    text-align: center;
}

.qt-plus, .qt-minus {
    background: #fcfcfc;
    border: none;
    font-size: 2.08vw;
    font-weight: 300;
    height: 100%;
    padding: 0 1.5vw;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
    background: #064c8b;
    color: #fff;
    cursor: pointer;
}

.qt-plus {
    line-height: 3.9vw;
}

.qt-minus {
    line-height: 3.7vw;
}

#pr-id {
    display: none;
}

#cart-footer {
    margin: 2.3vw 0 0 0;
}

#cart-footer {
    padding: 3.1vw;
}

#cart-footer h1 {
    background: #fcfcfc;
    border: 1px none #ccc;
    border-bottom-style: solid;
    font-size: 1.67vw;
    font-weight: 300;
    margin: 0 0 0.5vw 0;
    padding: 1vw 3.1vw;
    text-align: center;
}

#cart-footer h2 {
    font-size: 1.67vw;
    font-weight: 300;
    margin: 0.8vw 0 0 0;
}

#cart-footer h3 {
    font-size: 1.32vw;
    font-weight: 300;
    margin: 1.1vw 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    background: #064c8b;
    border: 1px none #999;
    border-bottom-style: solid;
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 1.39vw;
    font-weight: 300;
    padding: 1vw 3vw;
    text-align: center;
    object-fit: contain;

    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.btn:hover {
    color: #fff;
    background: #064c8b;
}

.type {
    background: #fcfcfc;
    font-size: 0.9vw;
    padding: 0.8vw 1.25vw;
    left: 100%;
}

.type, .color {
    border: 1px none #ccc;
    border-bottom-style: solid;
    position: absolute;
}

.color {
    width: 3.1vw;
    height: 3.1vw;
    right: -3.1vw;
}

.top-right {
    position: absolute;
    top: 0.8vw;
    right: 1.25vw;
    color: #a20010;
    cursor: pointer;
}