body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif
}

.sidenav {
    height: 100%;
    width: 15vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(222, 220, 228, .74);
    overflow-x: scroll;
    border-right: powderblue solid .1vw;
    padding-bottom: 8vw;
    padding-top: 4.25vw;
}

.sidenav a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 1vw 2vw;
}

.sidenav a:hover {
    background-color: #dbd9e1
}

.main {
    margin-bottom: 5vw;
    padding-bottom: 7vw;
    margin-left: 15vw;
    font-size: 28px
}