.container {
    margin: 2vw 3vw 5vw 2vw;
}

.table {
    margin-top: 2vw;
    width: 100%;
    overflow-x: hidden;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 300;
}

