body {
    margin: 0;
}

#searchInputBox {
    display: inline-block;
    margin-left: 7vw;
    margin-top: 3vw;
}

#searchButton {
    background-color: #295e8b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.75em;
    padding: 0.25vw;
    width: 3vw;
    cursor: pointer;
}

.container {
    margin: 2vw 3vw 5vw 2vw;
}

.table {
    margin-top: 2vw;
    width: 100%;
    overflow-x: hidden;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 300;
}

