<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="#{language-code}">


<head>

    <title th:text="#{page_title}"></title>

    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">

</head>
<body>
<div class="content">

    <div th:replace="fragments/header :: header"></div>

    <p th:text="#{home_page_text}"></p>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>