<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="#{language-code}">
<head>
    <title th:text="#{products_page}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/products.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <script th:src="@{/js/productDetail.js}"></script>
</head>
<body>
<div class="products_container">
    <div th:replace="fragments/nologohead :: nologohead" id="header"></div>
    <div th:replace="fragments/sidebar :: sidebar" id="sidebar"></div>
    <div id="products">
        <div class="products_view" th:each="product : ${products}">
            <a th:href="'/products/detail/' + ${product.getId()}">
                <div class="product">
                    <div class="img-resize">
                        <p><img th:src="@{${product.getImage()}}" width="30%" height="30%" th:alt="#{product.alt}"/></p>
                    </div>
                    <p class="price" th:text="${product.getPrice()} + '€'"></p>
                    <p class="caption" th:text="${product.getTag()}"></p>
                    <p>
                        <button th:text="#{cart.additem}"></button>
                    </p>
                </div>
            </a>
        </div>


        <div class="products_view" th:each="product : ${allProducts}">
            <a th:href="'/products/detail/' + ${product.getId()}">
                <div class="product">
                    <div class="img-resize">
                        <p><img th:src="@{${product.getImage()}}" width="30%" height="30%" th:alt="#{product.alt}"/></p>
                    </div>
                    <p class="price" th:text="${product.getPrice()} + '€'"></p>
                    <p class="caption" th:text="${product.getTag()}"></p>
                    <p>
                        <button th:text="#{cart.additem}"></button>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>