<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<script type="text/javascript" th:src="@{/js/products.js}" src="/js/products.js"></script>-->

<head>
    <meta charset="UTF-8">
    <title th:text="#{title.productDetail}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/productDetail.css}">

</head>
<body>
<div class="content">
    <div th:replace="fragments/nologohead :: nologohead" id="header"></div>

    <div class="product_detail_container">
        <div th:each="product : ${products}">
            <!-- TODO TAB GALLERY -->
            <div class="product_detail">
                <p><img th:src="@{${product.getImage()}}" th:alt="#{product.alt}"/></p>
            </div>
            <div class="product_detail">
                <p class="caption" th:text="${product.getName()}"></p>
            </div>
            <div class="product_detail">
                <p class="caption" th:text="${product.getAmount()}"></p>
            </div>
            <div class="product_detail">
                <p th:text="${product.getDescription()}"></p>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>
</body>
</html>