<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" th:href="@{/css/products.css}">
<script type="text/javascript" th:src="@{/js/products.js}" src="/js/products.js" ></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.productDetail}"></title>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div th:replace="fragments/sidebar :: sidebar" id="sidebar"></div>

<div>
    <div th:each="product : ${products}">
        <p><img th:src="@{${product.getImage()}} " width="30%" height="30%" th:alt="#{product.alt}"/></p>
        <p class="caption" th:text="${product.getName()}"></p>
        <p class="caption" th:text="${product.getAmount()}"></p>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>>

</body>
</html>