<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="#{language-code}">
<head>
    <title th:text="#{products_page}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/products.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scrollbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/snackbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/js/products.js}" src="/js/products.js" defer></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="products_container">
    <div th:replace="fragments/sidebar :: sidebar" id="sidebar"></div>

    <div id="products">
        <div class="products_view" th:each="product : ${products}">
            <div class="product">
                <a th:href="'/products/detail/' + ${product.getId()}">

                    <div class="img-resize">
                        <p><img th:src="@{${product.getImage()}}" width="30%" height="30%" th:alt="#{product.alt}"/></p>
                    </div>
                    <p class="price" th:text="${product.getPrice()} + '€'"></p>
                    <p class="caption" th:text="${product.getTag()}"></p>
                </a>
                <div>
                    <p class="product-id" th:text="${product.getId()}"></p>
                    <button class="addToCartButton" th:text="#{cart.additem}" onclick="confirmAddToCart()"></button>
                    <div id="snackbar" th:text="#{cart.addeditem}"></div>

                </div>
            </div>
        </div>


        <div class="products_view" th:each="product : ${allProducts}">
            <div class="product">
                <a th:href="'/products/detail/' + ${product.getId()}">

                    <div class="img-resize">
                        <p><img th:src="@{${product.getImage()}}" width="30%" height="30%" th:alt="#{product.alt}"/></p>
                    </div>
                    <p class="price" th:text="${product.getPrice()} + '€'"></p>
                    <p class="caption" th:text="${product.getTag()}"></p>
                </a>
                <div>
                    <p class="product-id" th:text="${product.getId()}"></p>
                    <button class="addToCartButton" th:text="#{cart.additem}" onclick="confirmAddToCart()"></button>
                    <div id="snackbar" th:text="#{cart.addeditem}"></div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>

</body>
</html>