<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="#{language-code}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.productDetail}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scrollbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/productDetail.css}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script th:src="@{/js/productDetail.js}"></script>
</head>
<body>
<div class="content">
    <div th:replace="fragments/nologohead :: nologohead" id="header"></div>
    <div th:replace="fragments/sidebar :: sidebar" id="sidebar"></div>

    <div class="product_detail_container">

        <div th:each="product : ${products}">
            <!-- TODO TAB GALLERY -->

            <!-- The grid: x columns
            <div class="row">
                <div class="column">
                    <img src="img_nature.jpg" alt="Nature" onclick="openImg(this);">
                </div>
            </div>-->

            <!-- The expanding image container -->
            <!-- <div class="container">
                 ..Close the image -->
            <!--   <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>-->

            <!-- Expanded image
            <img id="expandedImg" style="width:100%">
-->
            <!-- Image text
            <div id="imgtext"></div>
        </div>-->
            <!--TODO TAB GALLERY-->
            <div class="product_detail_images">
                <p><img th:src="@{${product.getImage()}}" th:alt="#{product.alt}"/></p>
            </div>
            <div class="product_detail">

                <div class="right">
                    <span class="qt-minus" onclick="decreaseValue()">-</span>
                    <input class="qt" type="number" id="number" value="1"/>
                    <span class="qt-plus" onclick="increaseValue()">+</span>
                    <span class="btn" onclick="ajaxPostToCart()" th:text="#{cart.additem}"></span>
                </div>
                <p class="caption" id="name" th:text="${product.getName()}"></p>

                <p th:text="#{price} + ${product.getPrice()} + ' €'"></p>

                <p class="caption" th:text="#{quantity} + ${product.getAmount()}"></p>
            </div>
            <div class="product_detail">
                <p th:text="${product.getDescription()}"></p>
            </div>

        </div>

        <footer th:replace="fragments/footer :: footer"></footer>

    </div>
</div>
</body>
</html>