<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{products_page}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/products.css}">
    <script type="text/javascript" th:src="@{/js/products.js}" src="/js/products.js" ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">

</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar :: sidebar" id="sidebar"></div>

<!--<div th:replace="fragments/vacuum_pouches :: vacuum_pouches"></div> -->
<div id="products">
    <div class="products_view" th:each="product : ${products}">
         <a th:href="'/products/detail/' + ${product.getId()}">
            <div class="product">
                <p><img th:src="@{${product.getImage()}}" width="30%" height="30%" th:alt="#{product.alt}" /></p>
                <p class="caption" th:text="${product.getTag()}"></p>
            </div>
         </a>
    </div>
</div>

<!--<div th:replace="fragments/pack_material :: pack_material"></div>
<div th:replace="fragments/plastic_bag :: plastic_bag"></div> -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>