<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<title>Products</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/products.css}">
<script type="text/javascript" th:src="@{/js/products.js}" src="/js/products.js" ></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">

<head>
    <meta charset="UTF-8">
    <title>Product adding</title>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div id="sidebar">
    <ul>
        <li><a href="/products/vac" th:text="#{vacuum_pouch}" ></a></li>
        <li><a href="/products/bags" th:text="#{plastic_bag}"></a></li>
        <li><a href="/products/plastic" th:text="#{packag_materials}"></a></li>
        <li><a href="/products/add" >Add product</a></li>
    </ul>
</div>

<div>
    <form id="productAdd">
        <table>
            <table>
                <tr>
                    <td th:text="#{add.name}" > </td>
                    <td> <input id="name"/></td>
                    <td> </td>
                </tr>
                <tr>
                    <td th:text="#{add.category}" ></td>
                    <td> <select></select></td>
                    <!--<td th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"> error.category</td>-->
                </tr>
                <tr>
                    <td th:text="#{add.tag}"></td>
                    <td><input  id="tag"/></td>
                    <td > </td>
                </tr>
                <tr>
                    <td th:text="#{add.description}"></td>
                    <td> <input id="description"/></td>
                    <td > </td>
                </tr>
                <tr>
                    <td th:text="#{add.image}"></td>

                    <!--<td><input type="file" id="fileUpload" name="file" accept="image/*" /></td>-->

                    <!--<td th:if="${#fields.hasErrors('amount')}" th:errors="*{image}"> error.image</td>-->
                </tr>
                <tr>
                    <td th:text="#{add.price}"></td>
                    <td><input  id="price"/></td>
                    <td > </td>
                </tr>
                <tr>
                    <td th:text="#{add.quantity}"></td>
                    <td><input  id="amount"/> </td>
                    <td ></td>
                </tr>
                <tr>
                    <button  type="submit" th:text="#{add.button}"> </button>
                    <td id="getAddingStatus"></td>
                </tr>

            </table>

    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>