<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{language-code}">
<head>
    <title th:text="#{services_page}"></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scrollbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: header">
    </div>
    <div th:replace="fragments/footer :: footer">
    </div>
</div>
</body>
</html>