<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="#{language-code}">
<head>
    <title th:text="#{shop_page}">Shop</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/shop.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scrollbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">

</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: header">
    </div>
        <!--  <img th:src="@{/img/233 copy.png}" class="img" th:alt="#{page_title}"/> -->
    </div>
    <div th:insert="fragments/footer" class="footer">
    </div>
</div>
</body>
</html>