<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="#{language-code}">


<head>
    <title th:text="#{cart_page}"></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/shoppingCart.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scrollbar.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/shoppingCart.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="cart-container">

    <section id="cart">
        <div class="product" th:each="productInstance : ${session.cart}">
            <header>
                <a class="remove">
                    <img th:src="@{${productInstance.getKey().getImage()}}" th:alt="#{product.alt}">
                    <h3 th:text="#{cart.removeitem}"></h3>
                </a>
            </header>

            <div class="cart-item">

                <i class="fa fa-close top-right remove"></i>

                <h1 th:text="${productInstance.getKey().getName()}"></h1>

                <p th:text="${productInstance.getKey().getDescription()}"></p>

            </div>

            <footer class="cart-item forID">
                <span class="qt-minus">-</span>
                <span class="qt" id="cart-qt" th:text="${productInstance.getValue()}"></span>
                <span class="qt-plus">+</span>

                <p id="pr-id" th:text="${productInstance.getKey().getId()}"></p>

                <h2 class="full-price" th:text="${productInstance.getKey().getPrice()}">€
                </h2>

                <h2 class="unit-price" th:text="${productInstance.getKey().getPrice()}">€
                </h2>
            </footer>
        </div>
    </section>



    <div class="cart-container clearfix">

        <div class="left">
            <h2 class="subtotal"><a th:text="#{cart.subtotal}"></a> <span></span>€</h2>
            <h3 class="shipping"><a th:text="#{cart.shipping}"></a> <span></span>€</h3>
        </div>

        <div class="right">
            <h1 class="total"><a th:text="#{cart.total}"></a> <span></span>€</h1>
            <a class="btn" th:text="#{cart.checkout}" href="/cart/checkout/"></a><!---->
        </div>

    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
