<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <script type="text/javascript" th:src="@{/js/smartId.js}" src="/js/smartId.js" ></script>

    <meta charset="UTF-8">
    <title th:text="#{login.title}"></title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div>
    <form>
        <table>
            <tr>
                <td><p>Region</p></td>
                <td><input type="text" id="countryCode" name="countryCode" placeholder="EE" /></td>
            </tr>
            <tr>
                <td><p>ID-code</p></td>
                <td><input  type="text" id="nationalIdentityNumber" name="nationalIdentityNumber"/></td>
            </tr>
            <tr>
                <td><button type="submit" th:text="#{login.SubmitButton}" id="smartLogin"></button></td>
            </tr>
        </table>
    </form>
    <div><h1 id="main-text"></h1></div>
    <div id="smart-id-verification-code-container" style="display:none;">
        <h1 id="verification-code-text">XXXX</h1>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>