<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"

      th:lang="#{language-code}">
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">

<meta charset="UTF-8">

<head>
    <title th:text="#{visitor_number}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

</head>
<body>
<div th:replace="fragments/header :: header">
</div>

<div th:text="#{visitor_number} + ': ' + ${statsCount}"></div>

<div>
    <canvas id="oschart" width="400" height="255"></canvas>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadXMLDoc("/api/stats/os",  'oschart'); // see kutsub andmed välja
    });


    function loadXMLDoc(path,  div) { //  see uuendab
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //addData(chart, div, JSON.parse(xhttp.responseText)); // todo see vist vale
                var result = xhttp.responseText.replace("[","").replace("]","").replace("[","").replace("]"," ");
                var resultAr = result.split(" ");
                console.log(resultAr);
                var labels = [];
                var number = [];
                var indeks;
                for (indeks = 0; indeks < resultAr.length ; indeks++){
                    if (resultAr[indeks] === ""){
                        continue;
                    }
                    var osTemp = resultAr[indeks].split(",");
                    labels.push(osTemp[0].replace("\"","").replace("\"",""));
                    number.push(osTemp[1].replace("\"",""));
                }
                console.log(labels);
                console.log(number);
                var chart = new Chart(document.getElementById("oschart"), { // see genereerib esialgse
                    type: 'polarArea',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                label: "OS",
                                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#64CD3D"],
                                data: number /*todo andmed siia*/
                            }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'OS'
                        }
                    }
                });
            }
        };
        xhttp.open("GET", path, true);
        xhttp.send();

    }
/*
    var chart = new Chart(document.getElementById("oschart"), { // see genereerib esialgse
        type: 'polarArea',
        data: {
            labels: ["Windows", "Mac OS X", "Android", "Linux", "iOS", "Other"],
            datasets: [
                {
                    label: "OS",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#64CD3D"],
                    data: [2478, 5267, 734, 784, 433, 3333] /*todo andmed siia*//*
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'OS'
            }
        }
    });
*/

    /*function addData(chart, label, data) { // TODO see on uuendamiseks kuidagi, ma ei tea
        chart.data.labels.push(label);
        chart.data.datasets.forEach(data) => {
            chart.datasets.data.push(data);
    });
        chart.update();
    }
*/


</script>


<!--<div>
    <table border="1">
        <tr>
            <th>OS</th>
            <th>Browser</th>
            <th>Device type</th>

        </tr>
        <tr th:each ="stat : ${stats}">
            <td th:utext="${stat.operatingSystem}">...</td>
            <td th:utext="${stat.browser}">...</td>
            <td th:utext="${stat.deviceType}">...</td>


        </tr>
    </table>
</div>-->


<!--
<script src="/js/OSstats.js"></script>
-->
<!--
<script>
    var osNames = ["Windows", "Mac OS X", "Android", "Linux", "iOS", "Other"];
    var osSet = [
        {
            label: "OS",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#64CD3D"],
            data: [2478, 5267, 734, 784, 433, 3333]
        }
    ];

    var osChart = new Chart(document.getElementById("osChart"), {
        type: 'polarArea',
        data: {
            labels: osNames,
            datasets: osSet
        },
        options: {
            title: {
                display: true,
                text: 'OS'
            }
        }
    });
</script>
-->

<div th:replace="fragments/footer :: footer">
</div>

</body>
</html>

