<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"

      th:lang="#{language-code}">
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/stats.css}">

<meta charset="UTF-8">

<head>
    <title th:text="#{visitor_number}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script th:src="@{/js/chart.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: header">
</div>

<div th:text="#{visitor_number} + ': ' + ${statsCount}"></div>

<div class="charts">
    <canvas id="oschart"></canvas>

    <canvas id="devicechart"></canvas>

    <canvas id="browserchart"></canvas>
</div>



<div th:replace="fragments/footer :: footer">
</div>

</body>
</html>

